#!/bin/bash

#SBATCH -J {{MOE_TYPE}}-{{RUN_TYPE}}-gbs{{GLOBAL_BATCH_SIZE}}
#SBATCH -o /work1/mzhang/zixianw4/xmoe-{{RUN_TYPE}}-%j.o
#SBATCH -t 1:00:00
#SBATCH -p batch
#SBATCH -N {{NODES}}
#SBATCH -n {{TOTAL_GPUS}}
#SBATCH -p {{PARTITION}}
#SBATCH --exclude=k005-004,k005-005,k003-001,k004-006,k004-003

# --- Parameters passed from hyper-script ---
BATCH_SIZE={{BATCH_SIZE}}
GLOBAL_BATCH_SIZE={{GLOBAL_BATCH_SIZE}}
PP_SIZE={{PP_SIZE}}
EP_PARALLEL_SIZE={{EP_PARALLEL_SIZE}}
MP_SIZE={{MP_SIZE}}
RUN_TYPE="{{RUN_TYPE}}"
NODES={{NODES}}
TOTAL_GPUS={{TOTAL_GPUS}}
TRAIN_ITERS={{TRAIN_ITERS}}
MOE_TYPE="{{MOE_TYPE}}"
MODEL_SIZE="{{MODEL_SIZE}}"


echo "MICRO_BATCH_SIZE: $BATCH_SIZE"
echo "GLOBAL_BATCH_SIZE: $GLOBAL_BATCH_SIZE"
echo "PP_SIZE: $PP_SIZE"
echo "EP_SIZE: $EP_PARALLEL_SIZE"
echo "NODES: $NODES"
echo "TOTAL_GPUS: $TOTAL_GPUS"

# --- Conditional Logic ---
# Set DeepSpeed flags and other settings based on whether this is a PP run.
if [[ ${PP_SIZE} -gt 1 ]]; then
    DEEPSPEED_PIPELINE_FLAG="--pipeline-model-parallel-size ${PP_SIZE}"
    WALL_CLOCK_BREAKDOWN="false"
    export WALL_CLOCK_BREAKDOWN="false"
else
    DEEPSPEED_PIPELINE_FLAG="--no-pipeline-parallel"
    WALL_CLOCK_BREAKDOWN="true"
    export WALL_CLOCK_BREAKDOWN="true"
fi


# --- Environment & Setup ---
source /work1/mzhang/zixianw4/miniconda3/etc/profile.d/conda.sh
conda activate xmoe

export TRANSFORMERS_OFFLINE=1
export HF_DATASETS_OFFLINE=1
export TORCH_EXTENSIONS_DIR=$PWD/deepspeed
export HF_HOME=$PWD/hfdata
export OMP_NUM_THREADS=1

export CHECKPOINT_PATH=checkpoint/small
export VOCAB_FILE=../data/gpt2-vocab.json
export MERGE_FILE=../data/gpt2-merges.txt
export DATA_PATH=../data/my-gpt2_text_document

DIR=`pwd`
###############################################################################
### Main configs (These are now common to all runs)

if [[ "${MODEL_SIZE}" == "10B" ]]; then
    echo "Configuring DeepSeek-V1 10B"
    NUM_LAYERS=28
    MODEL_SIZE=10
    HIDDEN_SIZE=2048
    FFN_HIDDEN_SIZE=1408
    NUM_ATTN_HEADS=16
    EP_SIZE=64
    topk=6
    SEQ_LEN=2048
elif [[ "${MODEL_SIZE}" == "10B_div2" ]]; then
    echo "Configuring ${MODEL_SIZE} Model"
    NUM_LAYERS=14
    MODEL_SIZE=5
    HIDDEN_SIZE=2048
    FFN_HIDDEN_SIZE=1408
    NUM_ATTN_HEADS=16
    EP_SIZE=64
    topk=6
    SEQ_LEN=2048
elif [[ "${MODEL_SIZE}" == "10B-4" ]]; then
    echo "Configuring ${MODEL_SIZE} Model"
    NUM_LAYERS=24
    MODEL_SIZE=9
    HIDDEN_SIZE=2048
    FFN_HIDDEN_SIZE=1408
    NUM_ATTN_HEADS=16
    EP_SIZE=64
    topk=6
    SEQ_LEN=2048
elif [[ "${MODEL_SIZE}" == "10B-8" ]]; then
    echo "Configuring ${MODEL_SIZE} Model"
    NUM_LAYERS=20
    MODEL_SIZE=8
    HIDDEN_SIZE=2048
    FFN_HIDDEN_SIZE=1408
    NUM_ATTN_HEADS=16
    EP_SIZE=64
    topk=6
    SEQ_LEN=2048
elif [[ "${MODEL_SIZE}" == "10B-12" ]]; then
    echo "Configuring ${MODEL_SIZE} Model"
    NUM_LAYERS=16
    MODEL_SIZE=6.5
    HIDDEN_SIZE=2048
    FFN_HIDDEN_SIZE=1408
    NUM_ATTN_HEADS=16
    EP_SIZE=64
    topk=6
    SEQ_LEN=2048
elif [[ "${MODEL_SIZE}" == "15B" ]]; then
    echo "Configuring 15B Model"
    NUM_LAYERS=28
    MODEL_SIZE=15
    HIDDEN_SIZE=3072
    FFN_HIDDEN_SIZE=1408
    NUM_ATTN_HEADS=16
    EP_SIZE=64
    topk=6
    SEQ_LEN=2048
elif [[ "${MODEL_SIZE}" == "20B" ]]; then
    echo "Configuring 20B Model"
    NUM_LAYERS=28
    MODEL_SIZE=20
    HIDDEN_SIZE=4096
    FFN_HIDDEN_SIZE=1408
    NUM_ATTN_HEADS=16
    EP_SIZE=64
    topk=6
    SEQ_LEN=2048
elif [[ "${MODEL_SIZE}" == "31B" ]]; then
    echo "Configuring 20B Model"
    NUM_LAYERS=28
    MODEL_SIZE=31
    HIDDEN_SIZE=4096
    FFN_HIDDEN_SIZE=1408
    NUM_ATTN_HEADS=16
    EP_SIZE=96
    topk=6
    SEQ_LEN=2048
else 
    echo "Configuring custom model size"
    NUM_LAYERS=24
    MODEL_SIZE=10.1
    HIDDEN_SIZE=2048
    FFN_HIDDEN_SIZE=1408
    NUM_ATTN_HEADS=16
    EP_SIZE=64
    topk=6
    SEQ_LEN=2048
fi 

node=${NODES}
total_gpu=${TOTAL_GPUS}
NUM_GPUS=$total_gpu


LR=1.2e-4
MIN_LR=1.0e-6
TRAIN_TOKENS=300000000000
EXIT_DURATION=30000000
WARMUP_TOKENS=375000000
LR_DECAY_TOKENS=300000000000
MLC=0.01
MOE_TRAIN_CAP_FACTOR=1.0
MOE_EVAL_CAP_FACTOR=1.0
MOE_MIN_CAP=4
MOE_DROP_TOKEN="true"
CL_ENABLED="false"
CL_START_SEQLEN=80
CL_AVG_SEQLEN=$(( (${CL_START_SEQLEN} + ${SEQ_LEN}) / 2 ))
CL_TOKENS=60
CL_TOKENS=$((${CL_TOKENS} * 1000000000))
CL_STEP=$(( ${CL_TOKENS} / (${GLOBAL_BATCH_SIZE} * ${CL_AVG_SEQLEN}) ))
LOG_INTERVAL=1
EVAL_ITERS=5
EVAL_INTERVAL=100
SAVE_INTERVAL=50
INIT_STD=0.014
ACTIVATION_CHECKPOINT="false"
###############################################################################
### Output and data configs
current_time=$(date "+%Y.%m.%d-%H.%M.%S")
host="${HOSTNAME}"
NAME="gpt-${MODEL_SIZE}B-lr-${LR}-minlr-${MIN_LR}-bs-${GLOBAL_BATCH_SIZE}-gpus-${NUM_GPUS}-mp-${MP_SIZE}-pp-${PP_SIZE}-test"
if [[ $EP_SIZE -gt 1 ]]; then
    NAME="${NAME}-ep-${EP_SIZE}-mlc-${MLC}-cap-${MOE_TRAIN_CAP_FACTOR}-drop-${MOE_DROP_TOKEN}"
fi
if [ "${CL_ENABLED}" = "true" ]; then
    NAME="${NAME}-cl-${CL_START_SEQLEN}-${CL_STEP}"
fi

OUTPUT_BASEPATH=$DIR/output
mkdir -p "${OUTPUT_BASEPATH}/tensorboard/"
mkdir -p "${OUTPUT_BASEPATH}/checkpoint/"
mkdir -p "${OUTPUT_BASEPATH}/log/"
TENSORBOARD_DIR="${OUTPUT_BASEPATH}/tensorboard/${NAME}_${host}_${current_time}"
mkdir -p ${TENSORBOARD_DIR}
###############################################################################
data_options=" \
         --vocab-file ${VOCAB_FILE} \
         --merge-file ${MERGE_FILE} \
         --data-path ${DATA_PATH}"

megatron_options=" \
        --moe-expert-parallel-size ${EP_PARALLEL_SIZE} \
        --num-experts ${EP_SIZE} \
        --moe-loss-coeff ${MLC} \
        --moe-train-capacity-factor ${MOE_TRAIN_CAP_FACTOR} \
        --moe-eval-capacity-factor ${MOE_EVAL_CAP_FACTOR} \
        --moe-min-capacity ${MOE_MIN_CAP} \
        --override-opt_param-scheduler \
        --adam-beta1 0.9 \
        --adam-beta2 0.95 \
        --tensor-model-parallel-size ${MP_SIZE} \
        --init-method-std ${INIT_STD} \
        --lr-decay-tokens ${LR_DECAY_TOKENS} \
        --lr-warmup-tokens ${WARMUP_TOKENS} \
        --micro-batch-size ${BATCH_SIZE} \
        --exit-duration-in-mins ${EXIT_DURATION} \
        --global-batch-size ${GLOBAL_BATCH_SIZE} \
        --num-layers ${NUM_LAYERS} \
        --hidden-size ${HIDDEN_SIZE} \
        --ffn-hidden-size ${FFN_HIDDEN_SIZE} \
        --num-attention-heads ${NUM_ATTN_HEADS} \
        --seq-length ${SEQ_LEN} \
        --max-position-embeddings ${SEQ_LEN} \
        --train-tokens ${TRAIN_TOKENS} \
        --train-iters ${TRAIN_ITERS} \
        --lr ${LR} \
        --min-lr ${MIN_LR} \
        --lr-decay-style cosine \
        --split 98,2,0 \
        --log-interval ${LOG_INTERVAL} \
        --eval-interval ${EVAL_INTERVAL} \
        --eval-iters ${EVAL_ITERS} \
        --save-interval ${SAVE_INTERVAL} \
        --weight-decay 0.1 \
        --clip-grad 1.0 \
        --hysteresis 2 \
        --num-workers 0 \
        --fp16 \
        --tensorboard-queue-size 1 \
        --log-timers-to-tensorboard \
        --log-batch-size-to-tensorboard \
        --log-validation-ppl-to-tensorboard \
        --tensorboard-dir ${TENSORBOARD_DIR} \
        --eval-iters 0 \
        --moe-train-capacity-factor 1.25 \
	    --expert-interval 1 \
	    --topk $topk \
        --using-torchrun \
	--use-rotary-position-embeddings"

        # --using-torchrun \

# Conditionally append flags based on the MoE type
if [[ "${MOE_TYPE}" == "X-MOE" ]]; then
    megatron_options="${megatron_options} --use-uneven-all-to-all --use-pft"
fi

if [ "${ACTIVATION_CHECKPOINT}" = "true" ]; then
    megatron_options="${megatron_options} --checkpoint-activations"
fi
if [[ $EP_SIZE -gt 1 ]]; then
    megatron_options="${megatron_options} --create-moe-param-group"
fi

template_json="../ds_config_gpt_TEMPLATE.json"
config_json="ds_config_gpt_Zero0_${NAME}.json"
sed "s/CONFIG_BATCH_SIZE/${GLOBAL_BATCH_SIZE}/" ${template_json} \
    | sed "s/CONFIG_MBSIZE/${BATCH_SIZE}/" \
    | sed "s/LOG_INTERVAL/${LOG_INTERVAL}/" \
    | sed "s/ZERO_STAGE/1/" \
    | sed "s/PRESCALE_GRAD/false/" \
    | sed "s/CONFIG_FP16_ENABLED/true/" \
    | sed "s/CONFIG_BF16_ENABLED/false/" \
    | sed "s/CONFIG_CL_ENABLED/${CL_ENABLED}/" \
    | sed "s/CONFIG_CL_MIN/${CL_START_SEQLEN}/" \
    | sed "s/CONFIG_CL_MAX/${SEQ_LEN}/" \
    | sed "s/CONFIG_CL_DURATION/${CL_STEP}/" \
    | sed "s/WALL_CLOCK_BREAKDOWN/${WALL_CLOCK_BREAKDOWN}/" \
	  > ${config_json}

# cat ${config_json}

deepspeed_options=" \
		    --deepspeed \
            --deepspeed_config ${config_json} \
            ${DEEPSPEED_PIPELINE_FLAG}"

if [ "${ACTIVATION_CHECKPOINT}" = "true" ]; then
    deepspeed_options="${deepspeed_options} --deepspeed-activation-checkpointing"
fi

# --- Execution Logic ---
export CUDA_DEVICE_MAX_CONNECTIONS=1
export OMP_NUM_THREADS=2
export CUDA_VISIBLE_DEVICES=$(seq -s, 0 $((NUM_GPUS-1)))
export NCCL_NET_GDR_LEVEL=3
export FI_MR_CACHE_MONITOR=userfaultfd



# export NCCL_DEBUG=INFO
# export NCCL_PROTO=Simple
# export RCCL_DEBUG=INFO
# export NCCL_DEBUG_SUBSYS=ALL
export TRITON_DISABLE_CACHE=1
export to_profile="False"
# export to_profile="True"
# export profile_memory="False"
export profile_memory="True"
export profile_dir="../scripts/torch_profile/${current_time}/"





if [[ $node -gt 1 ]]; then 

    # ======================= FINAL CORRECTED SCRIPT =======================
    # export ETHERNET_INTERFACE=eth0
    # export IB_INTERFACE=ib0
    # export MASTER_PORT=29500

    # # 2. Tell the GPU communication library (NCCL) to use this interface.
    # export NCCL_SOCKET_IFNAME=${ETHERNET_INTERFACE}
    # echo "NCCL will use interface: ${NCCL_SOCKET_IFNAME}"

    # # 3. Find the master node's IP address on that specific interface.
    # readarray -t arr < <(scontrol show hostnames $SLURM_NODELIST)
    # first_node=${arr[0]}
    # # This command is now more specific to get the IP of the chosen interface.
    # master_ip=$(ssh $first_node "ip -4 addr show ${ETHERNET_INTERFACE} | grep 'inet' | awk '{print \$2}' | cut -d/ -f1")


    # if [[ -z "${master_ip}" ]]; then
    #     echo "ERROR: Could not determine MASTER_ADDR for ${ETHERNET_INTERFACE} on master node ${first_node}."
    #     exit 1
    # fi

    # # 4. Export the clean MASTER_ADDR and MASTER_PORT.
    # export MASTER_ADDR=$master_ip
    # echo "nodes>1: MASTER_ADDR=${MASTER_ADDR}"
    # echo "first_node: ${first_node}"
    # echo "master_ip: ${master_ip}"
    # # echo "MASTER_ADDR has been set to the Ethernet IP: ${MASTER_ADDR}"
    # # echo "MASTER_PORT has been set to: ${MASTER_PORT}"


    # srun -N $node -n $total_gpu -c 2 --gpu-bind=closest \
    # bash -c "export OMPI_MCA_pml=ob1; \
    #         export OMPI_MCA_btl=self,tcp; \
    #         export OMPI_MCA_btl_tcp_if_include=${ETHERNET_INTERFACE}; \
    #         export RANK=\$SLURM_PROCID; \
    #          export WORLD_SIZE=\$SLURM_NTASKS; \
    #          export LOCAL_RANK=\$SLURM_LOCALID; \
    #          python ../pretrain_gpt_deepspeed.py \
    #          ${megatron_options} \
    #          ${data_options} \
    #          ${deepspeed_options} \
    #          --master-addr=$MASTER_ADDR \
    #          --zero-stage 1 \
    #          2>&1 | tee n${total_gpu}-Small-XMoE-${RUN_TYPE}.log"
        # 1. Define the subnet for the high-speed InfiniBand network.
    #    This is more reliable than a hardcoded interface name.
    IB_SUBNET="10.0.200."
    export MASTER_PORT=29500

    # 2. Find the master node's InfiniBand interface and IP address programmatically.
    readarray -t arr < <(scontrol show hostnames $SLURM_NODELIST)
    first_node=${arr[0]}

    # This command finds the interface name and IP on the master node that matches the IB_SUBNET
    # It's a bit complex, but very reliable.
    ib_info=$(ssh $first_node "ip -4 a | grep 'inet ${IB_SUBNET}'")
    if [[ -z "${ib_info}" ]]; then
        echo "ERROR: Could not find an interface on the IB_SUBNET (${IB_SUBNET}) on master node ${first_node}."
        exit 1
    fi
    master_ip=$(echo $ib_info | awk '{print $2}' | cut -d/ -f1)
    ib_interface=$(echo $ib_info | awk '{print $NF}') # $NF gets the last field, which is the interface name

    # 3. Export the discovered values for the training job.
    export MASTER_ADDR=$master_ip
    export NCCL_SOCKET_IFNAME=${ib_interface}

    echo "Discovered InfiniBand Interface: ${ib_interface}"
    echo "NCCL will use interface: ${NCCL_SOCKET_IFNAME}"
    echo "nodes>1: MASTER_ADDR=${MASTER_ADDR}"
    echo "first_node: ${first_node}"


    srun -N $node -n $total_gpu -c 2 --gpu-bind=closest \
    bash -c "export OMPI_MCA_pml=ob1; \
            export OMPI_MCA_btl=self,tcp; \
            export OMPI_MCA_btl_tcp_if_include=${NCCL_SOCKET_IFNAME}; \
            export RANK=\$SLURM_PROCID; \
            export WORLD_SIZE=\$SLURM_NTASKS; \
            export LOCAL_RANK=\$SLURM_LOCALID; \
            python ../pretrain_gpt_deepspeed.py \
            ${megatron_options} \
            ${data_options} \
            ${deepspeed_options} \
            --master-addr=$MASTER_ADDR \
            --zero-stage 1 \
            2>&1 | tee n${total_gpu}-Small-XMoE-${RUN_TYPE}.log"

    # ============================ END OF CONFIGURATION ============================
else
    readarray -t arr < <(scontrol show hostnames $SLURM_NODELIST)
    first=${arr[0]}
    ips=$(ssh "$first" hostname -I)
    read -ra ip_arr <<< "$ips"
    export MASTER_ADDR=${ip_arr[0]}
    echo "nodes==1: MASTER_ADDR=${MASTER_ADDR}"

    srun -N $node -n $total_gpu -c 2 --gpu-bind=closest \
    bash -c "export RANK=\$SLURM_PROCID; \
             export WORLD_SIZE=\$SLURM_NTASKS; \
             export LOCAL_RANK=\$SLURM_LOCALID; \
             python ../pretrain_gpt_deepspeed.py \
             ${megatron_options} \
             ${data_options} \
             ${deepspeed_options} \
             --master-addr=$MASTER_ADDR \
             --zero-stage 1 \
             2>&1 | tee n${total_gpu}-Small-XMoE-${RUN_TYPE}.log"
fi 


# --- Analysis Script ---
gpus_per_node=$(( total_gpu / node ))
ANALYSIS_LOG_FILE="/work1/mzhang/zixianw4/xmoe-${RUN_TYPE}-$SLURM_JOB_ID.o"
python  /work1/mzhang/zixianw4/X-MoE/Megatron-DeepSpeed-X-MoE/examples_xmoe/scripts/analyze_log.py \
        ${ANALYSIS_LOG_FILE} \
        --iterations $TRAIN_ITERS \
        --nodes $node \
        --gpus_per_node $gpus_per_node \
        --pp $PP_SIZE \
        --ep $EP_PARALLEL_SIZE \
        --dp $(( total_gpu / PP_SIZE / MP_SIZE )) \
        --tp $MP_SIZE \
        --gbs $GLOBAL_BATCH_SIZE \
        --mbs $BATCH_SIZE \
        --slurm_job_id $SLURM_JOB_ID \
        --seqlen $SEQ_LEN \
        --num_layers $NUM_LAYERS \
        --num_experts $EP_SIZE \
        --expert_dim $FFN_HIDDEN_SIZE \
        --topk $topk \
        --hidden_dim $HIDDEN_SIZE \
        --moe_type $MOE_TYPE \
        --model_size $MODEL_SIZE
